<!DOCTYPE html>

<html lang="en">
<head>
    <title>SimpleLogging Samples - ASP.NET MVC</title>
</head>
<body>

    <div align="center">
        <h1>SimpleLogging Samples - ASP.NET MVC</h1>

        This is the MVC sample for SimpleLogging.<br />
        <br />
        Please make sure Sentinal (windows exe) is running on your localhost machine so you can see the logging info.

        <hr />
        Current DateTime: @DateTime.Now
    </div>

</body>
</html>